* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#fe59c2, #ffbae6);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.speed-controller {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

.speed-controller__input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  border: none;
  text-align: center;
}
