* {
  box-sizing: border-box;
}

:root {
  --color-primary: #72aa43;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #597442;
  color: #fff;
}

.container {
  background-color: rgba(0, 0, 0, .3);
  padding: 20px 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  color: var(--color-primary);
}

.form__control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form__input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
  outline: 0;
}

.form__input:focus,
.form__input:valid {
  border-bottom-color: var(--color-primary);
}

.form__label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form__label-letter {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: all .3s ease-out;
}

.form__input:focus + .form__label .form__label-letter,
.form__input:valid + .form__label .form__label-letter {
  color: var(--color-primary);
  transform: translateY(-30px);
}

.form__btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: var(--color-primary);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  outline: 0;
  transition: all .5s ease;
  color: #fff;
}

.form__btn:hover,
.form__btn:focus {
  background-color: rgba(114, 170, 67, .6);
}

.form__btn:active {
  transform: scale(.97);
}
