* {
  box-sizing: border-box;
}

:root {
  --color-primary: #8db600;
  --color-secondary: #fff;
}

body {
  background-image: linear-gradient(90deg, #ff05c7, #c9009c);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search__input,
.search__btn {
  outline: 0;
}

.search__input {
  background-color: var(--color-secondary);
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width .5s ease;
}

.search__btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all .5s ease;
}

.search__btn:hover,
.search__btn:focus {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.search.active .search__input {
  width: 200px;
}

.search.active .search__btn {
  transform: translateX(198px);
}
